@{
    ViewBag.title = "Home";
 }

<div style="text-align: center;">
    <p class="lead">Welcome to Leo's Car Insurance. Here we will make sure you get the best deal on the market!</p>
    <p><a href="/Form/Index" class="btn btn-info btn-lg">Get Started &raquo;</a></p>
</div>